form {
  font-size: 25px;
  width: 400px;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
}

input, select {
  width: 100%; 
  margin-bottom: 1rem;   
}

input[type="checkbox"] {
  width: auto;
}

